<section class="cartas-beneficios">
    <div class="div-beneficios">
        <i class="fa-solid fa-truck-fast"></i>
        <h2>ENVÍOS A TODO EL PAÍS</h2>
        <p>A todo el país en tiempo record.</p>
    </div>

    <div class="div-beneficios">
        <i class="fa-regular fa-credit-card"></i>
        <h2>HASTA 12 CUOTAS</h2>
        <p>Visa, Mastercard, Amex, Mercado Pago.</p>
    </div>    

    <div class="div-beneficios">
        <i class="fa-solid fa-cubes"></i>
        <h2>ENTREGA INMEDIATA</h2>
        <p>Disponibilidad de stock permanente.</p>
    </div>    

    <div class="div-beneficios">
        <i class="fa-solid fa-phone"></i>
        <h2>VENTA TELEFÓNICA</h2>
        <p>Tel: 4902-0946 Lun a Sab de 10 a 20hs.</p>
    </div>
</section>