<footer>
    <section class="big-container">    
        <div class="contenedor-top-footer">
            <div class="footer1">
                <ul class="list-footer1"> 
                    <h2> Enlaces </h2> 
                    <li class="footer-item"><a class="enlaces-footer" href="/">Home</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="/products/">Catálogo</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="/users/carrito">Carrito</a></li>
                    <li class="footer-item"><a class="enlaces-footer" href="/users/login">Iniciar Sesión</a></li>
                </ul>
            </div>
            <div class="footer2">
                <ul class="list-footer2">
                    <h2 > Ayuda </h2>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Cambios y devoluciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Términos y condiciones</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Política de privacidad</a></li>
                    <li class="footer-item"><a href="#" class="enlaces-footer">Información sobre envíos</a></li>
                </ul>
            </div>
        </div>
            
            <div class="footer3">
                <ul class="list-footer-icons">
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-instagram"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-facebook"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-solid fa-envelope"></i></a></li>
                    <li class="footer-icon"><a href="#" class="enlaces-footer-redes"> <i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
    </section>
    <div class="marca-registrada">
        <h1>
            Copyright © 2022 Digital Deco House ®
        </h1>
    </div>
</footer>