<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head")%>
<body>
    <%-include ("./partials/header")%>

    <main class="main-main">
            <div class="div-main">
                <div class="carrusel">
                    <ul class="carrusel-fotos">
                      <li id="foto1"><img src="/images/espejo.jpg" alt=""></li>
                      <li id="foto2"><img src="/images/espejo2.jpeg" alt=""></li>
                      <li id="foto3"><img src="/images/espejo3.jpeg" alt=""></li>
                    </ul>
                    <ul class="carrusel-menu">
                      <li><a href="#foto1"><img src="/images/espejo.jpg" alt=""></a></li>
                      <li><a href="#foto2"><img src="/images/espejo2.jpeg" alt=""></a></li>
                      <li><a href="#foto3"><img src="/images/espejo3.jpeg" alt=""></a></li>
                    </ul>
                </div>
            
                <div class="main-detalle">  
                    <div class="detalle">     
                        <h3 class="titulo-producto">Espejo</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star fa-solid2"></i>
                        <p class="puntacion-reviews">10 reviews</p>
                    </div>
                    <div class="descripcion-prod">
                        <p id="precio">$1000</p>
                        <p id="precio">5% Off en efectivo</p>
                    </div>
                    <div class="comentario-producto">
                        <p>Lorem ipsum dolor sit amet consectetur adip</p>
                    </div>
                    <div class="botones-productos">
                        <button class="button">Añadir a tu carrito</button>
                    </div>
                </div>
        </div>
    </main>

         <%-include ("./partials/footer")%>

         
</body>
</html>